
/* Copyright (c) 2021, The Tor Project, Inc. */

@import url("chrome://browser/skin/error-pages.css");
@import url("chrome://branding/content/tor-styles.css");

:root {
  --onion-opacity: 1;
  --onion-color: var(--card-outline-color);
  --onion-radius: 75px;
}

input[type="checkbox"]:focus, select:focus {
  outline:  none!important;
  box-shadow: 0 0 0 3px var(--purple-30) !important;
  border:  1px var(--purple-80) solid !important;
}

@media (prefers-color-scheme: dark) {
  input[type="checkbox"]:focus, select:focus {
    box-shadow: 0 0 0 3px var(--purple-50)!important;
  }
}

#breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0 0 24px 0;
  color: var(--grey-40);
}

#breadcrumbs.hidden {
  visibility: hidden;
}

.breadcrumb-item, .breadcrumb-separator {
  display: flex;
  margin: 0;
  margin-inline-start: 20px;
  padding: 8px;
}

.breadcrumb-item {
  align-items: center;
  cursor: pointer;
  color: var(--in-content-text-color);
  border-radius: 4px;
}

.breadcrumb-item:hover {
  color: var(--in-content-accent-color);
  background-color: var(--in-content-button-background-hover);
}

.breadcrumb-item:active {
  color: var(--in-content-accent-color-active);
  background-color: var(--in-content-button-background-active);
}

.breadcrumb-separator {
  width: 15px;
  list-style-image: url("chrome://browser/content/torconnect/arrow-right.svg");
}

.breadcrumb-separator:dir(rtl) {
  scale: -1 1;
}

.breadcrumb-icon {
  display: inline list-item;
  height: 16px;
  list-style-position: inside;
  fill: currentColor;
  -moz-context-properties: fill;
}

.breadcrumb-item.active {
  color: var(--in-content-accent-color);
}

.breadcrumb-item.disabled, .breadcrumb-item.disabled:hover, .breadcrumb-item.disabled:active {
  color: var(--in-content-text-color);
  opacity: 0.4;
  cursor: default;
}

.breadcrumb-item.error {
  color: var(--in-content-danger-button-background);
}

.breadcrumb-item.error:hover {
  color: var(--in-content-danger-button-background-hover);
}

.breadcrumb-item.error:active {
  color: var(--in-content-danger-button-background-active);
}

.breadcrumb-item.hidden, .breadcrumb-separator.hidden {
  display: none;
}

#connect-to-tor {
  margin-inline-start: 0;
}

#connect-to-tor-icon {
  list-style-image: url("chrome://browser/content/torconnect/onion.svg");
}

#connection-assist-icon {
  list-style-image: url("chrome://browser/content/torconnect/onion-slash-fillable.svg");
}

#location-settings-icon {
  list-style-image: url("chrome://browser/content/torconnect/globe.svg");
}

#try-bridge {
  cursor: default;
}

#try-bridge-icon {
  list-style-image: url("chrome://browser/content/torconnect/bridge.svg");
}

button {
  --purple-button-text-color: rgb(251,251,254);
  --in-content-primary-button-text-color: var(--purple-button-text-color);
  --in-content-primary-button-background: var(--purple-60);
  --in-content-primary-button-text-color-hover: var(--purple-button-text-color);
  --in-content-primary-button-background-hover: var(--purple-70);
  --in-content-primary-button-text-color-active: var(--purple-button-text-color);
  --in-content-primary-button-background-active: var(--purple-80);
  --in-content-focus-outline-color: var(--purple-60);
  fill: white;
}

#locationDropdownLabel {
  margin-block: auto;
  margin-inline: 4px;
}

#locationDropdownLabel.error {
  color: var(--in-content-danger-button-background)
}

/* this follows similar css in error-pages.css for buttons */
@media only screen and (min-width: 480px) {
  form#locationDropdown {
    margin-inline: 4px;
    /* subtracting out the margin is needeed because by
       default forms have different margins than buttons */
    max-width: calc(100% - 8px);
  }
}

@media only screen and (max-width: 480px) {
  #tryAgainButton {
    margin-top: 4px;
  }
}

form#locationDropdown {
  width: 240px;
}

form#locationDropdown select {
  max-width: 100%;
  padding-block: 0;
  margin-inline: 0;
  font-weight: 700;
}

/* checkbox css */
input[type="checkbox"]:not(:disabled) {
  background-color: var(--grey-20)!important;
}

input[type="checkbox"]:not(:disabled):checked {
  background-color: var(--purple-60)!important;
  color: white;
  fill: white;
}

input[type="checkbox"]:not(:disabled):hover {
  /* override firefox's default blue border on hover */
  border-color: var(--purple-70);
  background-color: var(--grey-30)!important;
}

input[type="checkbox"]:not(:disabled):hover:checked {
  background-color: var(--purple-70)!important;
}

input[type="checkbox"]:not(:disabled):active {
  background-color: var(--grey-40)!important;
}

input[type="checkbox"]:not(:disabled):active:checked {
  background-color: var(--purple-80)!important;
}

:root {
  --progressbar-shadow-start: rgba(255, 255, 255, 0.7);
  --progressbar-gradient: linear-gradient(90deg, #FC00FF 0%, #00DBDE 50%, #FC00FF 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --progressbar-shadow-start: rgba(28, 27, 34, 0.7);
  }
}

#progressBar {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  width: 0%;
  padding: 0;
  margin: 0;
  animation: progressAnimation 5s ease infinite;
}

#progressBackground {
  height: 66px;
  margin-top: -26px;
  background-image:
    linear-gradient(var(--progressbar-shadow-start), var(--in-content-page-background) 100%),
    var(--progressbar-gradient);
  background-position: inherit;
  filter: blur(5px);
  border-end-end-radius: 33px;
}

#progressSolid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 7px;
  background-image: var(--progressbar-gradient);
  background-position: inherit;
}

#progressBackground, #progressSolid {
  background-size: 200% 100%;
}

@keyframes progressAnimation {
  0% {
    background-position: 200%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes progressAnimation {
  0% {
    background-position: 200%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

#connectPageContainer {
  margin-top: 10vh;
  width: 100%;
  max-width: 45em;
}

#quickstartCheckbox, #quickstartCheckboxLabel {
  vertical-align: middle;
}

/* mirrors p element spacing */
#viewLogButton {
  margin: 1em 0;
}

body {
  padding: 0px !important;
  justify-content: space-between;
  background-color: var(--in-content-page-background);
}

.title {
  background-image: url("chrome://browser/content/torconnect/onion.svg");
  -moz-context-properties: stroke, fill, fill-opacity;
  fill-opacity: var(--onion-opacity);
  fill: var(--onion-color);
}

.title.offline, .title.assist, .title.final {
  background-image: url("chrome://browser/content/torconnect/connection-failure.svg");
  stroke: var(--in-content-danger-button-background);
}

.title.location {
  background-image: url("chrome://browser/content/torconnect/connection-location.svg");
  stroke: var(--torbrowser-warning);
}
